.default {
    background-color: #2D70B7;
    border: 5px solid #1D2D5F;
    border-radius: 15px;
    padding: 13px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #2D70B7;
    border: 5px solid #1D2D5F;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: #FFCB05;
}

.button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 13px;
    width: 100%;
    height: 100%;
}

.button button.certa {
    background-color: green;
}