.menu {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 100px;
}

.menu h1 {
    font-size: 280px;
    color: white;
    -webkit-text-stroke: 0px;
}

.menu h3 {
    font-size: 48px;
    color: white;
    -webkit-text-stroke: 0px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pokeball { 
    animation: flip 1.5s infinite;
}

@keyframes flip {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media (max-width: 768px) {
    .menu h1 {
        font-size: 120px;
    }
    
    .menu h3 {
        font-size: 24px;
    }

    .error div {
        gap: 15px;
    }

    .pokeball {
        width: 100px;
    }

    .logo {
        width: 320px;
        height: 120px;
    }
}